.search_box {
  margin: 0 auto;
  padding: 8px 16px;
  width: 300px;
  max-height: max-content;
  grid-area: sb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border: 2px solid var(--txt-color);
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--shadow-color);
  background-color: var(--card-color);
}
.search_box label {
  width: 100%;
}
.search_box input {
  margin-bottom: 12px;
  padding: 4px 8px;
  width: 100%;
  font: inherit;
  border: 2px inset var(--txt-color);
  border-radius: 4px;
  outline: none;
  box-shadow: 1px 1px 4px var(--shadow-color) inset;
  background-color: var(--inpt-color);
  color: var(--txt-color);
}
