.container {
  margin: 0 auto;
  padding: 10px;
  min-width: 320px;
  max-width: 375px;
}
.main_grid {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: repeat(auto-fit, auto);
  gap: 24px;
  grid-template-areas:
    'cf'
    'sb'
    'cl';
  justify-content: center;
}
h1 {
  margin-left: 24px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .main_grid {
    grid-template-columns: 320px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      'cf cl'
      'sb cl';
  }
  h1 {
    margin-left: 68px;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
  .main_grid {
    justify-content: unset;
  }
  h1 {
    margin-left: 32px;
  }
}
