.btn_logout {
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  color: var(--bg-color);
  border: none;
  cursor: pointer;
}
.btn_logout:hover {
  color: var(--inpt-color);
}
.user_name {
  font-size: 16px;
}
.user_menu {
  display: flex;
  align-items: center;
  gap: 12px;
}
